<html lang="nb-NO">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Låfteweb | Om</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/img/lafte.ico"
    />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <script type="module" src="../js/main.js"></script>
  </head>
  <body>
    <a tabindex="0" href="#mainContent" class="jump-link"
      >Hopp til hovedinnhold</a
    >
    <header id="header">
      <div class="row">
        <a tabindex="0" href="../index.html">
          <img
            class="header-icon"
            src="../../assets/img/lafte_lysbakgrunn.png"
            alt="Låftelogo"
          />
        </a>
        <div class="col">
          <h1 class="header-title">Studentersamfundets Orkester</h1>
          <p class="leader-info">Orkestersjef:</p>
        </div>
        <a class="hamburger-menu" onclick="return toggleMobileNav()">
          <img
            id="hamburgerIcon"
            class="header-icon"
            src="../../assets/img/menu.svg"
            alt="Menu icon"
          />
        </a>
        <nav class="nav-web">
          <a tabindex="0" href="../../index.html">Hjem</a>
          <a tabindex="0" href="recruitment.html">Opptak</a>
          <a tabindex="0" href="contact.html">Kontakt</a>
          <a tabindex="0" href="" class="selected">Om</a>
          <a
            tabindex="0"
            target="_blank"
            href="https://laafte.samfundet.no/ovingsspeilet/"
            ><span
              >Øvingspeilet <span class="fas fa-external-link-alt"></span></span
          ></a>
        </nav>
      </div>
    </header>
    <nav id="mobileNav" class="nav-mobile">
      <a tabindex="0" href="../../index.html">Hjem</a>
      <a tabindex="0" href="recruitment.html">Opptak</a>
      <a tabindex="0" href="contact.html">Kontakt</a>
      <a tabindex="0" href="" class="selected">Om</a>
      <a
        tabindex="0"
        target="_blank"
        href="https://laafte.samfundet.no/ovingsspeilet/"
        ><span>Øvingspeilet <span class="fas fa-external-link-alt"></span></span
      ></a>
    </nav>
    <main id="mainContent">
      <div class="content-pusher"></div>
      <h1>Om orkesteret</h1>
      <p>Her finner du informasjon om orkesterets historie og tradisjoner</p>
      <h2 id="orkesterets-historie">Orkesterets historie</h2>
      <p><em>Orkesterets historie spenner over 110 år. Det jobbes for tiden med å skrive den ned!</em></p>
      <h2 id="tradisjoner">Tradisjoner</h2>
      <p>Orkesteret har i løpet av sin lange historie opparbeidet en del tradisjoner. Her presenteres et lite utvalg:</p>
      <h3 id="ludde">Ludde</h3>
      <p>Ludde, utenfor orkesteret bedre kjent som Ludwig van Beethoven. Luddes fødselsdag feires en lørdag i desember hvert år, man vet nemlig ikke nøyaktig når mesteren ble født, men man har gode kilder på at det var en lørdag, siden det er viden kjent at ingen hadde eksamen dagen etterpå.</p>
      <p>For å feire denne dagen samler orkesteret seg og spiller Luddes første symfoni. Gjerne på et instrument man ikke spiller til vanlig, og gjerne en annen stemme enn den som er tiltenkt instrumentet man har i hendene. Underveis skåles det i gløgg, ved hver bokstav, generalpause og fermate, samt ved hver repetisjon.</p>
      <p>Etter å ha spilt symfonien er en annen viktig Ludde-tradisjon spising av Luddekake. En Luddekake er ikke så mye en spesiell oppskrift som en kake med en særegen ånd; en Luddekake er nemlig en kake som ikke er (eller smaker) helt det den ser ut som. Merk at overraskelsen gjerne kan slå begge veier!</p>
      <h3 id="låftekorps">Låftekorps</h3>
      <p><q>På 17. mai trengs det musikk. Vi kan spille musikk!</q>. Dette tenkte et knippe musikere fra de forskjellige ensembler i Studentersamfundets Orkester som ikke hadde noe korps å spille i på 17. mai det året. Slik oppsto for første gang Låftekorps, et ensemble som siden har oppstått ved behov og anledning og så umiddelbart forsvunnet etterpå, men som er ganske fast innslag hver gang man feirer grunnlovsdagen. Korpset bærer preg av særdeles lite felles øving i forkant, forbud mot marsjering (man rusler bortover), samt stort innslag av slagverk (da alle de som spiller f.eks. bratsj som vanskelig kan tas med i folketoget får utdelt tamburin, rytmeegg osv.).</p>
      <h3 id="nyttårsball">Nyttårsball</h3>
      <p>I starten av hvert kalenderår arrangeres det nyttårsball for alle medlemmer av orkesteret. Her møter alle i studentergalla, og ballet har festlige innslag som kunstnerisk innslag ved av- og påtroppende Orkestersjef, taler, mye skåling, samt mye etterlengtet hjemmelaget dessert laget av nyttårsballkomiteens dessertkomite (som hvert år forsøker å overgå fjorårets dessertkomite).</p>
      <h3 id="pangsjonist">Pangsjonist</h3>
      <p>En pangsjonist(sic!), forkortet <em>pang</em>, er betegnelsen på et medlem av orkesteret som har spilt i seks semestre. Etter å ha oppnåd pangsjonist-status nyter man godt av goder som å få slippe dugnadsvakter i orkesteret, samt får utdelt orkesterets pangsjonistpin, G-nøkkelen. I tillegg til G-nøkkelen deles det også ut F-nøkler og C-nøkler, for henholdsvis 12 og 24 semestres tjeneste som musiker i orkesteret.</p>
      <h3 id="polyhymnia">Polyhymnia</h3>
      <p>Som ethvert orkester med respekt for seg selv har selvsagt Studentersamfundets Orkester sin egen ridderorden. Ordenen Polyhymnia ble innstiftet i 1913, og tildeles de medlemmer av orkesteret som gjennom en lang og ivrig karriere i Studentersamfundets Orkester har gjort en ekstra innsats, musikalsk som sosialt.</p>
      <p>Ordenen har tre grader, i stigende rekkefølge: ridder (tiltales <em>Deres mollhet</em>), kommandør (tiltales <em>Deres durhet</em>) og storkors.</p>
      <h3 id="reker-og-sodd">Reker og sodd</h3>
      <p>Hver 17. mai, etter at man har gått i folketoget gjennom byen, arrangeres det en lunsj for hele orkesteret. Her serveres tradisjonelt sett både sodd og ferske reker med brød og majones, så enhver burde finne festmat som er å foretrekke uansett hvilken kant av landet man måtte komme fra.</p>
    </main>
    <footer>
      <div class="row">
        <div class="contact-info">
          <p class="leader-info">Orkestersjef:</p>
          <p>&copy; låfteweb 2019 - 2022</p>
          <p><a href="https://samfundet.no">www.samfundet.no</a></p>
        </div>
      </div>
      <div class="row">
        <div class="image-container">
          <a href="https://ntnu.no"><img src="/assets/img/logo_ntnu_compact.png" alt="NTNU-logo" /></a>
        </div>
        <div class="image-container">
          <a href="https://velferdstinget.no"><img src="/assets/img/vtlogo.png" alt="Velferdstingets logo" /></a>
        </div>
      </div>
    </footer>
    <script>
      let header = document.getElementById("header");
      let hamburgerIcon = document.getElementById("hamburgerIcon");
      let mobileNav = document.getElementById("mobileNav");
      let mainContent = document.getElementById("mainContent");

      window.onload = function() {
        placeMobileNav();
      };
      window.onresize = placeMobileNav;

      function placeMobileNav() {
        mobileNav.style.top = header.offsetHeight;
      }

      function placeMainContent() {}

      function toggleMobileNav() {
        if (hamburgerIcon.src.indexOf("close") != -1) {
          hamburgerIcon.src = "../../assets/img/menu.svg";
          mobileNav.style.display = "none";
        } else {
          hamburgerIcon.src = "../../assets/img/close.svg";
          mobileNav.style.display = "flex";
        }
      }
    </script>
  </body>
</html>
