<html lang="nb-NO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Låfteweb | Kontakt</title>
    <link rel="shostcut icon" type="image/x-icon" href="../assets/img/lafte.ico">
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/hamburger.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body>
    <a href="#main-content" class="jump-link">Hopp til hovedinnhold</a>
    <header>
            <div class="header-heading">
                <div class="header-heading-logo-container">
                    <img src="../assets/img/låfte_lysbakgrunn.png" alt="Logo til Låfteweb" width="70" height="70">
                </div>
                <div class="header-text">
                    <h1>Studentersamfundets Orkester</h1>
                    <!-- TODO: Get the name and phonenumber (and email) dynamically from somewhere else -->
                    <p>Gjengsjef: Øystein Krogstie | laafte-sjef@samfundet.no | 12345678</p>
                </div>
            </div>
            <div class="navigation">
                <nav class="nav-web">
                    <a href="../index.html">Hjem</a>
                    <a href="recruitment.html">Opptak</a>
                    <a href="#" class="selected">Kontakt</a>
                    <a href="#">Om</a>
                    <a href="https://laafte.samfundet.no/ovingsspeilet/"><span>Øvingspeilet <span class='fas fa-external-link-alt'></span></span></a>
                </nav>
                <div class="hamburger hamburger--slider toggle-navbar">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
    </header>
    <nav class="nav-mobile">
            <a href="../index.html">Hjem</a>
            <a href="recruitment.html">Opptak</a>
            <a href="#" class="selected">Kontakt</a>
            <a href="#">Om</a>
            <a href="https://laafte.samfundet.no/ovingsspeilet/"><span>Øvingspeilet <span class='fas fa-external-link-alt'></span></span></a>
    </nav>    
    <main class="content-container" id="main-content">
        <div class="contact-heading">
            <!-- Infotekst?  -->
            <h1>Kontakt</h1>
            <p> Kontaktinfo til styret av Studentersamfundets Orkester </p>
        </div>
        <div>
            <h3> Hovedstyret </h3>
            <div class="mail-board-container">
                <!-- epostliste -->
                <div class="mail-board">
                    <span class='fas fa-gavel'> </span>
                    <h6>Leder</h6>
                    <p>Øystein Krogstie</p>
                    <a href = "mailto: laafte-sjef@samfundet.no">laafte-sjef@samfundet.no</a>
                </div>
                <div class="mail-board">
                    <span class='fas fa-pen-fancy'> </span>
                    <h6>Nestleder</h6>
                    <p>Heidi Sollie</p>
                    <a href = "mailto: laafte-nestleder@samfundet.no">laafte-nestleder@samfundet.no</a>
                </div>
                <div class="mail-board"> 
                    <span class='fas fa-coins'> </span>
                    <h6>Kasserer</h6>
                    <p>Ola Lajord</p>
                    <a href = "mailto: laafte-kasserer@samfundet.no">laafte-kasserer@samfundet.no</a>
                </div>
                <div class="mail-board">
                    <span class='fas fa-tools'> </span>
                    <h6>Materialforvalter</h6>
                    <p>Anita Haglund</p>
                    <a href = "mailto: laafte-material@samfundet.no">laafte-material@samfundet.no</a>
                </div>
                <div class="mail-board">
                    <i class='fas fa-cocktail'> </i>
                    <h6>Intendant</h6>
                    <p>Hanna Haugerud</p>
                    <a href = "mailto: laafte-bar@samfundet.no">laafte-bar@samfundet.no</a>
                </div>
            </div>

        </div>

    </main>
    <footer>
        <p class="leader-info">Gjengsjef: Øystein Krogstie | laafte-sjef@samfundet.no | 12345678</p>
        <p> &copy; låfteweb 2019</p>
        <p>www.samfundet.no</p>
    </footer>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function(){
            $(".toggle-navbar").click(function(){
                $(".nav-mobile").toggleClass("activate-hamburger");
                $(".hamburger").toggleClass("is-active");
            })
        })
    </script>
</body>
</html>
