/* 
This file contains the common styles for every page.
Header styles, footer styles, fonts etc.
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* General styles */

body{
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    font-size: 1em;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    box-shadow: 0 1px 6px #cccccc;
    z-index: 2;
}

.header-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.header-text h1{
    margin: 0;
    font-weight: 400;
}

.header-text p{
    margin: 0;
    color: #555555;
}

.navigation{
    display: flex;
    flex-direction: row;
}

.navigation nav a:hover{
    opacity: 0.7;
    cursor: pointer;
}

.navigation nav a{
    margin: 0 15px;
    padding: 0 3px 5px;
    text-decoration: none; 
}

nav a.selected{
    border-bottom: 3px solid steelblue;
}

.toggle-navbar {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    text-align: right;
    font-size: 20px;
    display: none;
}

.content-container{
    flex: 1 0 auto;
    margin: 10px 30px;
    /* padding-top: 35pt; */
}

.content-container h3{
    font-size: 30pt;
    padding-top: 20px;
}

.heading h3{
    font-size: 30pt;
    margin: 0;
}

.heading p{
    font-size: 9pt;
    margin: 0;
}

footer{
    color: whitesmoke;
    background-color: #343434;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

footer .left-img-container {
    padding-top: 10px;
}

footer .left-img {
    height: 10px;
    width: 53px;
}

footer .right-img-container {
    padding-top: 10px;
    padding-left: 44px;
    /* padding-right: 22px; */
}

footer .right-img {
    height: 15px;
    width: 15px;
}

footer .center-module p{
    text-align: center;
    margin: 0;
    font-size: 1em;
}

.activate-hamburger{
    display: flex !important;
}


/* Smartphones, portrait */

header{
    padding: 10px 2px;
}

.header-text h1{
    font-size: 12pt;
}

.header-text p{
    display: none;
}

.header-heading-logo-container{
    margin-right: 10px;
}

.header-heading-logo-container img{
    width: 30px;
    height: 30px;
}

.toggle-navbar{
    display: block;
}

.toggle-navbar.hidden {
    display: none;
}

.hamburger-box{
    transform: scale(0.7)
}

nav.nav-web{
    display: none;
}

nav.nav-mobile{
    position: absolute;
    top: 50px;  /* Must equal size of header */
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    padding: 10px 0;
}

nav.nav-mobile a{
    margin: 5px;
    text-decoration: none;
}

footer{
    padding: 8px;
}

footer p{
    font-size: 1em;
}

footer .leader-info{
    margin-bottom: 10px;
}

/* Smartphones, landscape */

@media only screen and (min-width: 500px){
    header{
        padding: 10px 5px;
    }
    
    .header-text h1{
        font-size: 16pt;
    }

    .header-text p{
        display: block;
        font-size: 1em;
    }

    .header-heading-logo-container{
        margin-right: 10px;
    }

    .header-heading-logo-container img{
        width: 45px;
        height: 45px;
    }

    .hamburger-box{
        transform: scale(0.9)
    }

    nav.nav-mobile{
        top: 66.4px;  /* Must equal size of header */
    }

    .content-container{
        margin: 10px 50px 50px;
        margin-top: 45px;
    }

    .heading h3 {
        font-size: 42pt;
    }

    footer p{
        font-size: 1em;
    }

}

/* Tablets, portrait */

@media only screen and (min-width: 768px) {

    header{ 
        padding: 5px 30px;
    }

    .header-heading-logo-container{
        margin-right: 30px;
    }

    .header-heading-logo-container img{
        width: 60px;
        height: 60px;
    }

    .header-text h1{
        font-size: 24pt;
    }

    .header-text p{
        font-size: 1em;
    }

    nav.nav-mobile{
        top: 75.6px;  /* Must equal size of header */
    }

    .content-container{
        margin: 20px 100px 50px;
        /* padding-top: 45px; */
    }

    .landing h1{
        font-size: 35pt;
    }
    
    .landing p{
        font-size: 13pt;
        margin: 0;
    }

    .heading h3 {
        font-size: 50pt;

    }
    
    footer .center-module p {
        font-size: 1em;
    }

    footer .left-img {
        width: 106px;
        height: 20px;
    }

    footer .right-img {
        width: 30px;
        height: 30;
    }

}

/* Tablets, landscape */

@media only screen and (min-width: 1100px) {
    
    .toggle-navbar{
        display: none;
    }

    nav.nav-web{
        display: block;
    }
    
    nav.nav-mobile{
        display: none;
    }

    .content-container{
        /* padding-top: 55px; */
    }
}

/* Laptops and desktops */

@media only screen and (min-width: 1200px) {

    .content-container{
        margin: 50px 130px;
        /* padding-top: 35px; */
    }

    .heading h3{
        font-size: 55pt;
    }
    
    .heading p{
        font-size: 16pt;
    }

}

/* Large screens */

@media only screen and (min-width: 1600px) {

}

.jump-link {
    font-size: 2em;
    position: absolute;
    left: -10000px;
}

.jump-link:focus {
    position: static;
    left: 0;
}


